<!-- Footer -->
<footer class="page-footer bg-footer font-mediam pt-3">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-2">
        <!-- Content -->
        <h5 class="text-uppercase">iamder</h5>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-2">

      <!-- Grid column -->
      <div class="col-md-8 mb-md-0 mb-2">

        <!-- Links -->
        <ul class="list-unstyled text-size list-inline text-md-right">
          <li class="list-inline-item list-margin-linkls col-xs-12">
            <a [routerLink]="['/about-us']">About Us</a>
          </li>
          <li class="list-inline-item list-margin-linkls col-xs-12">
            <a [routerLink]="['/contact-us']">Contact Us</a>
          </li>
          <li class="list-inline-item list-margin-linkls col-xs-12">
            <a (click)="tandcModal.show()">T & C</a>
          </li>
          <li class="list-inline-item list-margin-linkls col-xs-12">
            <a (click)="privacyModal.show()">Privacy Policy</a>
          </li>
          <!--  <app-privacy-modal></app-privacy-modal> -->
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Grid row -->
  <div class="row footer-copyright d-flex">
    <!-- Grid column -->
    <div class="col-md-6 col-xs-12 col-lg-4 ml-lg-0 mt-2">
      <!-- Social buttons -->
      <div class="text-center text-md-left pt-2">
        <ul class="list-unstyled list-inline mb-0">
          <li class="list-inline-item">
            <a href="" mdbBtn floating="true" size="lg" class="rgba-white-slight" mdbWavesEffect>
              <i class="fa fa-facebook fa-1x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" size="lg" class="rgba-white-slight" mdbWavesEffect>
              <i class="fa fa-twitter fa-1x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" size="lg" class="rgba-white-slight " mdbWavesEffect>
              <i class="fa fa-google-plus fa-1x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" size="lg" class="rgba-white-slight" mdbWavesEffect>
              <i class="fa fa-linkedin fa-1x"></i>
            </a>
          </li>
        </ul>
      </div>

    </div>
    <div class="col-xs-12 col-md-6 col-lg-8">

      <!--Copyright-->
      <p class="text-center text-md-right text-xs pt-3">© 2019 Copyright:
        <a href="/home">
          Iamder All Rights Reserved
        </a>
      </p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->
  <!-- Copyright -->
  <!--  <div class="footer-copyright text-center text-md-right p-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/angular/"> Iamder All Rights Reserved</a>
  </div> -->
  <!-- Copyright -->

</footer>
<!-- Footer -->


<!-- The Privacy Modal -->
<div mdbModal #privacyModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="privacyModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel"> Iamder Privacy Policy</h4>
      </div>
      <div class="modal-body overflow-auto">
        <div class="angular-with-newlines" ng-repeat="item in items">
        {{privacyPolicy}}
     </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
          (click)="privacyModal.hide()" mdbWavesEffect>Close</button> </div>
    </div>
  </div>
</div>


<!-- the T & c modal -->
<div mdbModal #tandcModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="tandcModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel"> Iamder Terms and Condition</h4>
      </div>
      <div class="modal-body overflow-auto">
        <div class="angular-with-newlines" ng-repeat="item in items">
          {{termsAndCondition}}
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
          (click)="tandcModal.hide()" mdbWavesEffect>Close</button> </div>
    </div>
  </div>
</div>