<div class="container-fluid margin-top-1">
  <h2 class="text-center h2-responsive">We Work With The Biggest</h2>
  <div class="row margin-top-1">
    <div class="col-md-2">
    </div>
    <div class="col-md-2 col-ofset-xs-2 col-xs-8 col-ofset-xs-2">
      <img src="../../assets/twilio.png" class="img-fluid qr-img-round img-width" alt="twilio" title="twilio">
    </div>
    <div class="col-md-2 col-xs-8">
      <img src="../../assets/aws.png" class="img-fluid qr-img-round img-width" alt="Amazon web services"
        title="Amazon web services">
    </div>
    <div class="col-md-2 col-xs-8">
      <img src="../../assets/razorpay.png" class="img-fluid qr-img-round img-width" alt="razorpay" title="razorpay">
    </div>
    <div class="col-md-2 col-xs-8">
      <img src="../../assets/firebase.png" class="img-fluid qr-img-round img-width" alt="firebase" title="firebase">
    </div>
    <div class="col-md-2 col-xs-2">
    </div>
  </div>
</div>
