<div class="aboutus">
  <h2 class="center h2-responsive">IAMDER TECHNOLOGIES PRIVATE LIMITED</h2>
  <div class="row about-us-images">
    <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 imgage-icon">
      <img src="../../assets/noImage.png" alt="No Image available"> 
    </div> -->
    <div class="responsive imgage-icon">
      <img src="../../assets/iamder logo.png_without_bg.png" alt="iamder logo">
    </div>
    <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 imgage-icon">
      <img src="../../assets/noImage.png" alt="No Image available">
    </div> -->
  </div>
  <div class="row details-about">
    <p class="content-text">
      Iamder Technologies Private Limited is a Private incorporated on 20 December 2018. It is classified as Non-govt
      company and is registered at Registrar of Companies, Bangalore. Its authorized share capital is Rs. 1,000,000 and
      its paid up capital is Rs. 100,000. It is inolved in Other computer related activities [for example maintenance of
      websites of other firms/ creation of multimedia presentations for other firms etc.</p>
      <div class="margin-top-1">
        <h2 class="text-center h2-responsive">We Work With The Biggest</h2>
        <div class="row margin-top-1 container-fluid">
          <div class="col-md-2">
          </div>
          <div class="col-md-2 col-ofset-xs-2 col-xs-8 col-ofset-xs-2">
            <img src="../../assets/twilio.png" class="img-fluid qr-img-round img-width"  alt="twilio" title="twilio">
          </div>
          <div class="col-md-2 col-xs-8">
            <img src="../../assets/aws.png" class="img-fluid qr-img-round img-width" alt="Amazon web services"
              title="Amazon web services">
          </div>
          <div class="col-md-2 col-xs-8">
            <img src="../../assets/razorpay.png" class="img-fluid qr-img-round img-width" alt="razorpay" title="razorpay">
          </div>
          <div class="col-md-2 col-xs-8">
            <img src="../../assets/firebase.png" class="img-fluid qr-img-round img-width" alt="firebase" title="firebase">
          </div>
          <div class="col-md-2 col-xs-2">
          </div>
        </div>
      </div>

  </div>
</div>