<div class="sticky-container">
    <ul class="sticky">
        <li>
            <img src="../../assets/playstore.png" width="32" height="32">
			 <p><a href="http://play.google.com/store/apps/details?id=com.iamder.app" target="_blank">Android app<br>on Google Play</a></p>            
        </li>
       
    </ul>
</div>

<div class="container-fluid container-about align-middle mb-5">
	<div class="container">
		<div class="row" align="center">
			<h1 class="display-4 qr-bold col-sm-12">Our Mission is to revolutionize the way in which people around the world exchange knowledge/information and assist each other.
       </h1>
		</div>
		<div class="row" align="center">
			<div class="col-sm-12">
			</div>
		</div>
	</div>
</div>


<div class="container-fluid">
<div class="aboutus">
    <div class="container our-story" align="center">
        <h2> Our Story </h2>
        <p class="lead  mt-3">
            The inspiration came when we were exploring the school for my son to admit him to the first standard. Our son got selected into 2-3 schools, we have struggled to make a decision on which school we have to admit. We then found several parents in which their kids are studying for years. We took considerable time and tried several channels to find such parents who are happy to share their opinion about the school. We have spoken to them to collect the data points of each school and then finally decided upon a school. While doing so, we have realized that there is no system in place to connect the public to talk to each other for sharing their knowledge & information.
          </p>
      </div>

      <div class="container-fluid what-we-do mt-5 pt-5 mb-5 pb-5">
          <div class="container" align="center">
            <h2> What We Do </h2>
            <h5 class="qr-bold"> Public Experts - Anytime, Anywhere!</h5>
            <img src="../../assets/team.png" class="img-fluid">
            <p class="lead mt-5"> Aims to provide instant, simple & trusted way for public to mutually exchange their knowledge & information to solve each other’s problems.
                The team at Iamder is an energetic, young and socially conscious group that is
                working hand in hand with you to build a platform where the public can be connected to mutually share their knowledge & information. </p>
          </div>
        </div>
  
</div>
<div class="row details-about" hidden>
    <div class="container pt-5 mt-5 mb-5 pb-5 the-team" align="center">
      <h2> A Multi-Disciplinary Team </h2>
      <div class="row mt-5">
        <div class="col-sm-4">
          <a href="" target="_blank"><img src="../../assets/default_icon.png" class="img-fluid" width="395" height="410"></a> 
          <h3><a href="" target="_blank">Name</a> </h3>	
          <h6> Founder &amp; CEO </h6>
        </div>
        <div class="col-sm-4">
          <a href="https://www.linkedin.com/in/shobhana-sriram-10852b75/" target="_blank"><img src="../../assets/default_icon.png" class="img-fluid qr-mob-gapV" width="395" height="410"></a>	
          <h3><a href="https://www.linkedin.com/in/shobhana-sriram-10852b75/" target="_blank"> Name </a></h3>	
          <h6> Co-Founder &amp; CTO </h6>
        </div>
        <div class="col-sm-4">
          <a href="https://www.linkedin.com/in/naveenmamgain/" target="_blank"><img src="../../assets/default_icon.png" class="img-fluid qr-mob-gapV" width="395" height="410"></a>
          <h3><a href="https://www.linkedin.com/in/naveenmamgain/" target="_blank"> Name </a></h3>	
          <h6> Co-Founder &amp; Head - Design </h6>		
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-sm-4">
          <a href="https://www.linkedin.com/in/vishal-lavti/" target="_blank"><img src="../../assets/default_icon.png" class="img-fluid qr-mob-gapV" width="395" height="410"></a>
          <h3><a href="https://www.linkedin.com/in/vishal-lavti/" target="_blank"> Name</a>  </h3>	
          <h6> Co-Founder, VP - Engineering &amp; Customer Success </h6>	
        </div>
    
        <div class="col-sm-4">
          <a href="" target="_blank"><img src="../../assets/default_icon.png" class="img-fluid qr-mob-gapV" width="395" height="410"></a>
          <h3><a href="" target="_blank"> Name </a></h3>	
          <h6> VP - Marketing </h6>	
        </div>
        <div class="col-sm-4">
          <a href="" target="_blank"><img src="../../assets/default_icon.png" class="img-fluid qr-mob-gapV" width="395" height="410"></a>
          <h3><a href="" target="_blank"> Name </a></h3>	
          <h6> Director </h6>	
        </div>
        
      </div>
    
    </div>


  </div>