<div>
  <img src="../../assets/about_us.png" class="img-fluid img-fit" alt="Sample image with waves effect.">
</div>
<div class="aboutus">
  <div class="row details-about">
    <div>
      <h4 class="h4-responsive">Our Mission</h4>
      <p class="content-text">
        Our Mission is to revolutionize the way in which people around the world exchange knowledge/information and
        assist each other.
      </p>
    </div>
    <div>
      <h4 class="h4-responsive">Our Story:</h4>
      <p class="content-text">

        The inspiration came when we were exploring the school for my son to admit
        him to the first standard. Our son got selected into 2-3 schools, we have struggled to make a decision on which
        school we have to admit. We then found several parents in which their kids are studying for years. We took
        considerable time and tried several channels to find such parents who are happy to share their opinion about the
        school. We have spoken to them to collect the data points of each school and then finally decided upon a school.
        While doing so, we have realized that there is no system in place to connect the public to talk to each other
        for sharing their knowledge & information.

        What We Do:
        Aims to provide instant, simple & trusted way for public to mutually
        exchange their knowledge & information to solve each other’s problems.

        The team at Iamder is an energetic, young and socially conscious group that is
        working hand in hand with you to build a platform where the public
        can be connected to mutually share their knowledge & information.

        Visionary Team:
        Add the place holder for 6 people now and hide this heading for now.
        We will un-hide them later.

      </p>
    </div>
  </div>
</div>