<app-user-stories></app-user-stories>
<section class="container-fluid">
  <div class="journey-desc">
    <h2 class="text-header text-center h2-responsive">Our Journey So Far</h2>
    <div class="row padding-content text-center">
      <div class="col-md-4 col-sm-12 col-xs-12 journey-desc">
        <div class="row">
          <div class="text-right-md">
            <i class="fa fa-users fa-4x" title="profiles"></i> </div>
          <div class="padding-left-2">
            <p class="text-header-profile">Users</p>
            <h5 class="h6-responsive">24 Million+</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 journey-desc">
        <div class="row">
          <div class="text-right-md">
            <i class="fa fa-user-plus fa-4x" title="profiles"></i> </div>
          <div class="padding-left-2">
            <p class="text-header-profile">Profiles</p>
            <h5 class="h6-responsive">10000+</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 journey-desc">
        <div class="row">
          <div class="text-right-md">
            <i class="fa fa-phone fa-4x" title="Calls"></i> </div>
          <div class="padding-left-2">
            <p class="text-header-profile">Calls</p>
            <h5 class="h6-responsive">10000/month</h5>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<app-why-iamder></app-why-iamder>
<app-verified-user></app-verified-user>
<!-- <app-user-review></app-user-review> -->
<!-- <app-we-work-with></app-we-work-with> -->