.why-book-blk {
    padding: 120px 0 0px;
}
.journey-desc {
    padding-top: 30px;
    padding-bottom: 20px;
}
.fa{
    color:red;
}
.text-header-profile{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5rem;
}
.text-right-md{
    text-align: right;
}
.padding-left-2{
    padding-left: 2rem;
}
.padding-content{
    padding: 0% 6%;
}

@media screen and (max-width: 768px){
    .journey-desc {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .text-right-md{
        text-align: left;
    }
    .padding-content{
        padding: 1% 20%;
    }
} 
.navbar {
  padding: 0.3rem;
}
::ng-deep .carousel-item {
    height: auto;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
  }
  img {
    height: 20px;
    padding-right: 5px;
  }
  .btn[class*="btn-outline-"] {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .btn {
    text-transform: none;
    padding: 0.84rem 1rem;
  }
  .btn-outline-white {
    border: 1px solid #fff !important;
    /*  background-color: #00000085!important; */
  }
  .carousel-control.left,
  .carousel-control.right {
    left: 0;
    z-index: 1;
  }
  .carosel-img-header {
    border-radius: 20%;
    height: 150px;
    width: 160px;
  }
  .container-img {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
  }
  .container__inner-img {
    margin: 0px 10px;
    display: block;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  
  @media (max-width: 768px) {
    .carousel-item {
      height: 85vh;
      min-height: 350px;
    }
    .carosel-img-header {
      height: 161px;
      width: 188px;
    }
  }
  
  @media (max-width: 480px){
    .container__inner-img {
      margin: 0px 0px;
    }
  }