<!--Main Navigation-->
<!-- <header class="intro-header">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" class="navCss" [containerInside]="true">
      <mdb-navbar-brand>
        <a class="logo navbar-brand waves-light"  [routerLink]="['/home']" routerLinkActive="active">Iamder</a>
      </mdb-navbar-brand>
      <links class=" justify-content-center">
        <ul class="navbar-nav">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Help <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">offers</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" [routerLink]="['/contact-us']" routerLinkActive="active">Contact Us</a>
          </li>
        </ul>
      </links>
    </mdb-navbar>
    <section class="view intro-2">
      <div class="full-bg-img mask rgba-gradient">
        <div class="container flex-center">
          <div class="d-flex align-items-center content-height w-100">
            <div class="row flex-center pt-5 mt-3 w-100">
              <div class="col-md-12 text-center text-md-left mb-5">
                <div class="white-text text-center">
                  <h1 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Iamder </h1>
                  <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                  <h5 class="wow fadeInLeft" data-wow-delay="0.3s" style="text-align: justify;">Iamder Technologies Private Limited is an unlisted private company.

                      Iamder Technologies Private Limited was incorporated on 20 December, 2018. The company has 2 directors and no reported key management personnel</h5>
                  <br>
                  <div class="justify-content-center">
                    <a class="btn btn-outline-white fadeInLeft fa fa-play">Play Store</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

  </header> -->
<!--Main Navigation-->

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ff0000d1">
  <div class="container-fluid">
    <a class="navbar-brand h2-responsive" [routerLink]="['/home']" style="font-weight: 900; font-family: inherit;" >iamder</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
    <div class="">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="btn btn-outline-white" href="#"><img src="../../assets/play-store.png" />Play Store
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
