<div class="container-fluid margin-top-1">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div style="padding: 1%;">
        <h2 class="feature-title h2-responsive"> <i class="fa fa-check" title="Iamder app, Verified Users"></i>&nbsp;
          Verified Users</h2>
        <div class="content-text">
          <p>Iamder Technologies Private Limited allows you to verify your number and email address easily through the
            app or through your office email address.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left: 10px;">
      <div style="padding: 1%;">
        <h2 class="feature-title h2-responsive"><i class="fa fa-credit-card" title="Iamder App"></i>&nbsp;
          Cashless Transactions</h2>
        <div class="content-text">
          <p>Our app allows transactions to be seamless and error free. No price
            changes after you sit in the car or anywhere else to worry about.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid margin-top-1">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div style="padding: 1%;">
        <h2 class="feature-title h2-responsive"><i class="fa fa-phone"
            title="iamder app, Instant Communication"></i>&nbsp;
          Instant Communication</h2>
        <div class="content-text">
          <p>Our app allows transactions to be seamless and error free. No price
            changes after you sit in the car or anywhere else to worry about.</p>
        </div>
      </div>

    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <div style="padding: 1%;">
        <h2 class="feature-title h2-responsive"><i class="fa fa-star"
            title="iamder application with encash call points"></i>&nbsp;
          Encash Call Points</h2>
        <div class="content-text">
          <p>Our app allows transactions to be seamless and error free. No price
            changes after you sit in the car or anywhere else to worry about.</p>
        </div>
      </div>
    </div>
  </div>
</div>