<div class="container-fluid margin-top-1">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div style="padding: 1%;">
        <h2 class="feature-title h2-responsive"> <i class="fa fa-check" title="Iamder app, Verified Users"></i>&nbsp;
          Iamder Platform:</h2>
        <div class="content-text">
          <p>The Iamder platform will facilitate any two individuals in the world to quickly approach 
            in time and can communicate and share information instantly and seamlessly to get their 
            problem solved. Users pay a fee for the service and the answer/solution/Information is
             provided by the Iamder expert.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left: 20px;">
      <div style="padding: 1%;">
        <h2 class="feature-title h2-responsive"><i class="fa fa-credit-card" title="Iamder App"></i>&nbsp;
          Public Experts:</h2>
        <div class="content-text">
          <p>There are individuals who have become experts while solving their problems. Many people 
            prefer to talk to real-time experts rather than professional experts. Iamder enables such 
            public experts to earn money worth for their skills while helping society.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid margin-top-1">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left: 20px;">
      <div style="padding: 1%;">
        <h2 class="feature-title h2-responsive"><i class="fa fa-phone"
            title="iamder app, Instant Communication"></i>&nbsp;
            Instant Expert Assistance:
          </h2>
        <div class="content-text">
          <p>In this fast world, time is money for many people. So, everybody would like to
             have to instant solution to their problem. They are happy to pay the premium if s
             uch instant solutions are available.
          </p>
        </div>
      </div>

    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <div style="padding: 1%;">
        <h2 class="feature-title h2-responsive"><i class="fa fa-star"
            title="iamder application with encash call points"></i>&nbsp;
            Everybody is an Expert:</h2>
        <div class="content-text">
          <p>Iamder is an open platform for all kinds of skilled people to offer the service
             to the needed across the world. Every individual in the world has a unique skill. 
             The skill may be a niche or granular or specialization or a specific tiny topic. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>