<!-- Why Iamder section -->
<div class="container-fluid mt-20">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <p class="font-xs" style="margin-bottom:0;color: #333;">Available for Android</p>
      <h1 class="content-title h1-resposive">Why Iamder!</h1>
      <p class="content-text padding-top-1">Iamder Technologies Private Limited was incorporated on 20 December, 2018.
        The company has 2 directors
        and no
        reported key management personnel. The registered office of the company is at No 332/386, C2, Davana, 5th Main
        Vijaya Bank Layout, Belekahalli, Bangalore, Bangalore, Karnataka</p>
      <div class="text-center">
        <button style="border-radius: 24px;" mdbBtn type="button" size="lg" color="cyan" mdbWavesEffect>Read
          more</button>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <video class="video-fluid z-depth-1" loop controls muted>
        <source src="../../assets/video/Angular Material Tutorial - 1 - Introduction.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</div>

<!-- For your organization -->
<div class="container-fluid margin-top-1 d-none d-sm-block">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="view overlay">
        <img src="../../assets/for-your-org.jpg" class="img-fluid img-fit" alt="Sample image with waves effect.">
        <a>
          <div class="mask waves-effect rgba-white-slight" mdbWavesEffect></div>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <h1 class="content-title h1-resposive">For Your Organization </h1>
      <p class="content-text padding-top-1">Iamder Technologies Private Limited was incorporated on 20 December, 2018.
        The company has 2 directors
        and no
        reported key management personnel. The registered office of the company is at No 332/386, C2, Davana, 5th Main
        Vijaya Bank Layout, Belekahalli, Bangalore, Bangalore, Karnataka</p>
      <!-- <div class="text-center"> <button style="border-radius: 24px;" mdbBtn type="button" size="lg" color="cyan"
          mdbWavesEffect>Read
          more</button></div> -->
    </div>

  </div>
</div>

<!-- For your organization -->
<div class="container-fluid margin-top-1 d-block d-sm-none">
  <div class="row">

    <div class="col-md-6 col-sm-12 col-xs-12">
      <h1 class="content-title h1-resposive">For Your Organization </h1>
      <p class="content-text padding-top-1">Iamder Technologies Private Limited was incorporated on 20 December, 2018.
        The company has 2 directors
        and no
        reported key management personnel. The registered office of the company is at No 332/386, C2, Davana, 5th Main
        Vijaya Bank Layout, Belekahalli, Bangalore, Bangalore, Karnataka</p>
      <!-- <div class="text-center"> <button style="border-radius: 24px;" mdbBtn type="button" size="lg" color="cyan"
            mdbWavesEffect>Read
            more</button></div> -->
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="view overlay">
        <img src="../../assets/for-your-org.jpg" class="img-fluid img-fit" alt="Sample image with waves effect.">
        <a>
          <div class="mask waves-effect rgba-white-slight" mdbWavesEffect></div>
        </a>
      </div>
    </div>

  </div>
</div>