.video-fluid {
  width: 80%;
  height: auto;
  margin: 4% 6% 4% 14%;
}
.padding-top-1 {
  padding: 30px 0;
}
.img-fit {
  margin: 0 8% 4% 0%;
  max-width: 84% !important;
}

@media (max-width: 768px) {
  .img-fit {
    margin: 4%;
    max-width: 92%;
  }
}
