<!-- Why Iamder section -->
<div class="container-fluid mt-20">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <h1 class="content-title h1-resposive">Why Iamder!</h1>
      <ul class="content-text padding-top-1">
        <li>To help the society grow together & faster by connecting the people on a problem to solution. </li>
        <li>To provide complete satisfaction to help-seekers by connecting them with experts who can solve their
          problem(s) instantly.</li>
        <li>To provide complete satisfaction to Expert by meriting him/her in return to the help provided.
        </li>
      </ul>
      <div class="text-center">
        <button style="border-radius: 24px;" mdbBtn type="button" size="lg" color="cyan" mdbWavesEffect>Read
          more</button>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <video class="video-fluid z-depth-1" loop controls muted>
        <source src="../../assets/video/iamder_-_2_720p.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</div>

<!-- For your organization -->
<div class="container-fluid margin-top-1 d-none d-sm-block">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="view overlay">
        <img src="../../assets/for_experts.png" class="img-fluid img-fit" alt="Sample image with waves effect.">
        <a>
          <div class="mask waves-effect rgba-white-slight" mdbWavesEffect></div>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <h1 class="content-title h1-resposive">For Experts </h1>
      <p class="content-text padding-top-1">Almost everyone has some skill which they can offer to others if there is
        decent monetary benefit offered. Sometimes, it might mean simply guiding the concerned person over a 10 minutes
        phone call. Presently, there is no system – which connects the people having problems with people who knows
        solution in a real time manner. Besides money, they also want to help the society with their skills but there is
        no platform for same. Therefore, despite having valuable skills, they are not able to offer it to anyone and it
        goes wasted.
      </p>
      <!-- <div class="text-center"> <button style="border-radius: 24px;" mdbBtn type="button" size="lg" color="cyan"
          mdbWavesEffect>Read
          more</button></div> -->
    </div>

  </div>
</div>

<!--  For Users -->
<div class="container-fluid margin-top-1 d-none d-sm-block">
  <div class="row">

    <div class="col-md-6 col-sm-12 col-xs-12">
      <h1 class="content-title h1-resposive">For Users </h1>
      <p class="content-text padding-top-1">With internet become part of day to day life, all users look up on search
        engine whenever they face any problem / have any question. But what they get is tons of links to pages which
        requires one to spend time in reading those pages. While it is useful, at times the need is just to discuss with
        an expert someone on phone who can immediately guide over a call. There are hardly any platforms offering such
        options presently.
      </p>
      <!-- <div class="text-center"> <button style="border-radius: 24px;" mdbBtn type="button" size="lg" color="cyan"
          mdbWavesEffect>Read
          more</button></div> -->
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="view overlay">
        <img src="../../assets/for_user.png" class="img-fluid img-fit" alt="Sample image with waves effect.">
        <a>
          <div class="mask waves-effect rgba-white-slight" mdbWavesEffect></div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- For your organization -->
<div class="container-fluid margin-top-1 d-block d-sm-none">
  <div class="row">

    <div class="col-md-6 col-sm-12 col-xs-12">
      <h1 class="content-title h1-resposive">For Your Organization </h1>
      <p class="content-text padding-top-1">Iamder Technologies Private Limited was incorporated on 20 December, 2018.
        The company has 2 directors
        and no
        reported key management personnel. The registered office of the company is at No 332/386, C2, Davana, 5th Main
        Vijaya Bank Layout, Belekahalli, Bangalore, Bangalore, Karnataka</p>
      <!-- <div class="text-center"> <button style="border-radius: 24px;" mdbBtn type="button" size="lg" color="cyan"
            mdbWavesEffect>Read
            more</button></div> -->
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="view overlay">
        <img src="../../assets/for-your-org.jpg" class="img-fluid img-fit" alt="Sample image with waves effect.">
        <a>
          <div class="mask waves-effect rgba-white-slight" mdbWavesEffect></div>
        </a>
      </div>
    </div>

  </div>
</div>